/* petal color themes:
#F98866 - petal
#F4420E - poppy
#80BD9E - stem 
#89DA59 - spring green  */

body {
    background-image: url("https://github.com/stlefebvre/GIPHY/blob/master/assets/background%20images/stripes.png?raw=true");
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

#jumbotron {
    border-style: double;
    border-color: #F98866;
    background-color: white;
}

#jumbotron-header {
    font-family: 'The Girl Next Door', cursive;
    color: #FF420E;
    text-align: center;
}

#body-panel1 {
    border-style: double;
    border-color: #F98866;
}
#good-boi-heading {
    background-color: #F98866;
    color: white;
}

.dogbreed {
    border-color: #89DA59;
}

.dogbreed:hover {
    background-color: #80BD9E;
    color: white;
}